<app-nav style="z-index: 1;" class="position-relative navInOther"></app-nav>

<section class=" pb-4" id="aris">
  <p class="text-center text-black fw-bold fs-1 mb-3 py-5">ARIS 7 Content Categories</p>
  <div class="aris-container pb-4 d-none align-items-center justify-content-center d-lg-flex">
    <div class="circle">
      <div class="content">
        <h2 class="fw-bold text-uppercase mb-4">{{types[active-1].title}}</h2>
        <p *ngFor="let desc of types[active-1].descs let x = index">
          {{desc}}
        </p>

      </div>
      <div class="puzzle-piece" (mouseover)="onHover(i+1)" [ngClass]="'piece' + (i+1)"
        *ngFor="let item of types; let i = index">
        <img [src]="i == active-1?item.imgHover:item.img" class="w-100 h-100 object-fit-contain transition" alt="">
      </div>

    </div>

  </div>
  <div class=" aris-container p-md-5 p-0 d-block d-lg-none">
    <div class="box  m-md-5 m-3 p-md-5 p-3 " *ngFor="let item of types; let i = index" (mouseover)="onHover(i+1)">
      <div class="puzzle-piece mb-5 mt-4"  [ngClass]="'piece' + (i+1)">
        <img [src]="i == active-1?item.imgHover:item.img" class="w-100 h-100 object-fit-contain transition" alt="">
      </div>
      <div class="content">

        <h2 class="fw-bold text-uppercase">{{types[i].title}}</h2>
        <p *ngFor="let desc of types[i].descs let x = index" class="my-3">
          {{desc}}
        </p>
      </div>
    </div>
  </div>
  <div class="blogDetails col-12">
    <div class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam ullam accusamus voluptate, quae totam sed cupiditate enim laudantium a quisquam.</div>



      <div class="paragraphs">
        <div class="paragraph" *ngFor="let paragraph of paragraphs">
          <div class="paragraphTitle">{{paragraph.title}}</div>
          <div class="paragraphImg" *ngIf="paragraph.image" ><img src="{{paragraph?.image}}" alt=""></div>
          <div class="paragraphTitleDesc">{{paragraph?.description}}</div>
        </div>
      </div>

  </div>

</section>
