<section id="login" class="row col-12 d-flex justify-content-center">
  <div class="box col-11 col-sm-10 col-md-9 col-lg-7 col-xl-5">
    <p class=" fs-3 fw-bold m-3 pt-0">Log In</p>
    <input type="text" class="p-2 bg-white bg-opacity-75 rounded-3 col-12  border-0 my-2" placeholder="Admin Name"
      [(ngModel)]="adminName">
    <input type="text" class="p-2 bg-white bg-opacity-75 rounded-3 col-12  border-0 my-2" placeholder="Admin Password"
      [(ngModel)]="adminPassword">
      <p class="text-danger ">{{errMessage}}</p>
    <div class="w-100 d-flex justify-content-end p-3 pb-0">
      <button class="btn rounded-0 border-0 text-white w-50" (click)="logIn()">LogIn</button>
    </div>
  </div>
</section>
