#login{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  .box{
    // height: 500px;
    padding: 30px 10px;
    background: linear-gradient(135deg, #68ddb3, #3ac0cf 25%, #a2dfc8 70%, #00c7dc);
    border-radius: 10px;
    button{
      background: linear-gradient(135deg, #000000, #000000 25%, #000000 70%, #00c7dc);

    }
  }
}
