#about {
  width: 100%;
  overflow: hidden;
  padding: 150px 50px 0 50px !important;
  .about{
  .AboutUs{
    color: #418d71;
letter-spacing: 5px;
  }

  }



  .about {
    height: auto;

    .title {
      .icon {
        width: 30px !important;
        height: 30px !important;
        border-radius: 50%;
        border: solid 1px #68ddb2;
        margin-right: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 !important;
        display: none;
      }
    }

    .img {
      height: 100%;

      img {
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }
}
