<app-nav style="z-index: 1;" class="position-relative navInOther"></app-nav>

<section id="about" class="p-5 mt-5 p-md-0 ">
  <!-- <div class="d-flex prefSec m-0"  id="prefSec">
    <div class="m-0 pref d-flex" *ngFor="let item of items" appScrollTransform>
      <p class="text-capitalize px-4 mx-5">
        We deserve to bloom
      </p>
    </div>
  </div> -->

  <div class=" col-12 col-md-12  col-xl-8 offset-xl-2  offset-0 row about  flex-column-reverse flex-md-row ">
    <div data-aos="fade-right" class="col-12 col-md-7 row col-xl-8  pe-0 m-0 d-flex flex-column align-items-lg-start align-items-center justify-content-between mt-5 mt-md-0">
      <h1 class=" fs-1 fw-bold pb-4 fw-bolder AboutUs text-uppercase">About Us</h1>
      <div class="col-12 col-lg-11 m-0">
        <div class="title fs-4 fw-bold d-flex align-items-center mainTextColor">
          <!-- <div class="icon"><i class="bi bi-tree-fill fs-6 mainTextColor"></i></div> -->
          Lorem ipsum dolor sit amet.
        </div>
        <div class="desc pt-3 pb-5 ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis nostrum totam iure dicta necessitatibus nesciunt fugiat ad pariatur, voluptate laboriosam!</div>
      </div>
      <div class="col-12 col-lg-11 m-0">
        <div class="title fs-4 fw-bold d-flex align-items-center mainTextColor">
          <!-- <div class="icon"><i class="bi bi-tree-fill fs-6 mainTextColor"></i></div> -->
          Lorem ipsum dolor sit amet.
        </div>
        <div class="desc pt-3 pb-5 ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis nostrum totam iure dicta necessitatibus nesciunt fugiat ad pariatur, voluptate laboriosam!</div>
      </div>
      <div class="col-12 col-lg-11 m-0">
        <div class="title fs-4 fw-bold d-flex align-items-center mainTextColor">
          <!-- <div class="icon"><i class="bi bi-tree-fill fs-6 mainTextColor"></i></div> -->
          Lorem ipsum dolor sit amet.
        </div>
        <div class="desc pt-3 pb-5 ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis nostrum totam iure dicta necessitatibus nesciunt fugiat ad pariatur, voluptate laboriosam!</div>
      </div>




    </div>
    <div class="col-12 col-md-5 col-xl-4 img " data-aos="fade-left">
      <img src="./assets/abouusimg.jpg" alt="">
    </div>
  </div>
</section>
