<section id="header">
  <video loop autoplay #videoPlayer>
    <source src="https://res.cloudinary.com/do363ozu9/video/upload/v1723475227/headerVideos_tirhu7.mp4" type="video/mp4">
  </video>
  <div class="row vh-100 content-overlay">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
      <h1 data-aos="fade-down" data-aos-delay="1000"class="fw-semibold mb-4">Brain Development Center</h1>
      <!-- <h3 class="mainTextColor mb-4">We Deserve To Bloom</h3> -->
      <p data-aos="fade-up" data-aos-delay="1000" class="w-75">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis esse quam saepe debitis modi non iste qui maxime accusamus ipsa!</p>
    </div>
  </div>
</section>
