<!-- <div class="footer-basic">
  <footer>
      <div class="social">
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-whatsapp"></i></a>
        <a href="#"><i class="bi bi-facebook"></i></a>
      </div>
      <p class="copyright">BDC © 2024</p>
  </footer>
</div> -->
<footer class="mb-0 pb-1 px-5">
  <div class="img d-flex align-items-center ">
    <img src="https://res.cloudinary.com/do363ozu9/image/upload/v1723475798/logo_x8ztsx.png" alt="">
    <div class="copyright p-5">BDC © 2024</div>
  </div>
  <div class="social d-flex flex-column flex-md-row">
    <a href="#"><i class="bi bi-instagram"></i></a>
    <a class="py-3 py-lg-0" href="#"><i class="bi bi-whatsapp"></i></a>
    <a href="#"><i class="bi bi-facebook"></i></a>
  </div>
</footer>
