<div class="footer-basic">
  <footer>
<!-- data-aos="fade-down" data-aos-duration="1000" -->
      <div class="social"><a href="#"><i class="bi bi-instagram"></i></a><a href="#"><i class="bi bi-whatsapp"></i></a><a href="#"><i class="bi bi-twitter"></i></a><a href="#"><i class="bi bi-facebook"></i></a></div>
      <ul class="list-inline fw-bold">
          <li class="list-inline-item"><a href="#">Home</a></li>
          <li class="list-inline-item"><a href="#">About Us</a></li>
          <li class="list-inline-item"><a href="#">Who Can We Help</a></li>
          <li class="list-inline-item"><a href="#">Blog</a></li>
          <li class="list-inline-item"><a href="#">Services</a></li>
          <li class="list-inline-item"><a href="#">Contact Us</a></li>
      </ul>
      <p class="copyright">BDC © 2024</p>
  </footer>
</div>
