<footer class="footer">

  <div class="footer-container">

    <!-- LEFT -->
    <div class="footer-left">
      <img src="https://res.cloudinary.com/do363ozu9/image/upload/v1723475798/logo_x8ztsx.png" />

      <p class="copyright">
        BDC © 2024
      </p>
    </div>

    <!-- RIGHT -->
    <div class="footer-right">

      <a href="#"><i class="bi bi-instagram"></i></a>
      <a href="#"><i class="bi bi-whatsapp"></i></a>
      <a href="#"><i class="bi bi-facebook"></i></a>

    </div>

  </div>

</footer>
