<app-nav style="z-index: 1;" id="inDetails" class="position-relative"></app-nav>

<div id="details" class="mb-5">
  <div class="box row">
    <p class="title">{{disPlay?.title}}.</p>
    <div class="img col-12">
      <img src="{{disPlay?.image}}" alt="">
    </div>
    <div class="blogDetails col-12" [ngClass]="{'col-md-8': urlPart=='blog'}">
      <div class="desc">{{disPlay?.descriptionription}}</div>



        <div class="paragraphs">
          <div class="paragraph" *ngFor="let paragraph of disPlay?.paragraphs">
            <div class="paragraphTitle">{{paragraph.title}}</div>
            <div class="paragraphImg" *ngIf="paragraph.image" ><img src="{{paragraph?.image}}" alt=""></div>
            <div class="paragraphTitleDesc">{{paragraph?.description}}</div>
          </div>
        </div>

    </div>



    <div class="sameTypes col-12 col-md-4 p-lg-5 py-5 pt-0" *ngIf="urlPart === 'blog'">
      <p class="fs-3 fw-bold py-3">Similar articles</p>
      <div class="col-12 box" *ngFor="let item of Similar">
        <div class="sameTypesImg">
          <img [src]="item.image" alt="">
        </div>
        <div class="sameTypesTitle h-100 d-flex flex-column justify-content-between align-items-start">
          <span>{{ item.createdAt | dateFormat }}</span>
          <p>{{ item.title }}</p>
        </div>
      </div>
    </div>

  </div>
</div>
