@import 'bootstrap/scss/bootstrap';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Maven+Pro:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mooli&family=Quicksand:wght@300..700&display=swap');

*,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Mooli", sans-serif;
  font-family: "Quicksand", sans-serif;
}


.transition {
  transition: 0.5s !important;
}

.mainBgColor {
  background-color: #68ddb3;
}

.mainTextColor {
  color: #68ddb3;
}

.mainTitleColor {
  color: #418d71;
}

.secBgColor {
  background-color: #00c7dc;
}

.secTextColor {
  color: #00c7dc;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

input,
textarea,
select {
  outline: none;
}

.scrollStyle,
.scrollStyle1 {
  overflow-y: scroll;
}

.scrollStyle::-webkit-scrollbar {
  width: 5px;
}

.scrollStyle1::-webkit-scrollbar {
  width: 5px;
}

.scrollStyle::-webkit-scrollbar-track {
  background-color: #0091a1;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
}

.scrollStyle::-webkit-scrollbar-thumb {
  background-color: #00e5ff;

}

.pointer {
  cursor: pointer;
}

.spinner-border {
  --bs-spinner-width: 1.3rem;
  --bs-spinner-height: 1.3rem;
}
.navInHeader{
  nav{
    position: fixed !important;
    background-color: transparent !important;
  }
}
.navInOther{
  nav{
    position: relative !important;
    background: linear-gradient(135deg, #000000, #000000 25%, #000000 70%, #00c7dc) !important;  }
}
// #inDetails {
//   nav {
//     position: relative !important;
//     background: linear-gradient(135deg, #000000, #000000 25%, #000000 70%, #00c7dc) !important;
//     ul,.toggle{
//       display: none !important;
//     }
//   }
// }
